*
{
    -fx-text-fill: white;
}

.gridStyle
{
    -fx-border-color: white;
}

.gridStyle Line{
    -fx-stroke: white;
}

.password-field, .text-field, .button
{
    -fx-text-fill: white;
}

.button
{
    -fx-background-color: rgba(0, 0, 0, 0.51);
    -fx-border-color: #9a6e23;
    -fx-border-radius: 10px;
}

.button:hover
{
    -fx-border-color: white;
}

.combo-box .list-view .list-cell{
    -fx-text-fill: black;
}

.rgpd{
    -fx-background-color: rgba(0, 0, 0, 0.7);
}