*
{
    -fx-text-fill: white;
}

.gridStyle
{
    -fx-border-color: white;
}

.gridStyle Line{
    -fx-stroke: white;
}

.password-field, .text-field, .button
{
    -fx-text-fill: black;
}

.combo-box .list-view .list-cell{
    -fx-text-fill: black;
}

.rgpd{
    -fx-background-color: rgba(0, 0, 0, 0.7);
}